@import "tailwindcss";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated {
  background: linear-gradient(
    -45deg,
    #0b0b0b,
    #121212,
    #1a1a1a,
    #232323,
    #141414
  );

  background-size: 400% 400%;
  animation: gradient 18s ease infinite;
}